@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
.as {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: absolute;
  font-weight: 700;
  top: -210%;
  left: 0;
  right: 0;
  white-space: nowrap;
}
